# back
*/bin
*/obj
/.vs
/storage
appsettings.json
appsettings.*.json
!appsettings.template.json
default-data.json
.env
Uhost.Web.xml
/out
tmp
/Uhost.Web/wwwroot
/Docker/build
/deploy-win
/Docker/postgres.conf
Dump_*.json

# front
/Frontend/node_modules
/Frontend/build
/Frontend/package-lock.json
Frontend/src/config.json
Docker/sentry/.vscode

# common
*.gz