# back
*/bin
*/obj
/.vs
/storage
appsettings.json
appsettings.docker.json
default-data.json
.env
Uhost.Web.xml
/out
tmp

# front
/Frontend/node_modules
/Frontend/build
/Frontend/package-lock.json
Frontend/src/config.json
Docker/sentry/.vscode
