# среда выаолнения ASP.NET
ASPNETCORE_ENVIRONMENT=Development

# Название приложения
APP_NAME=uHost-v3

# Хост, к которому будут монтироваться порты запущенных в контейнере сервисов.
FORWARD_HOST=127.0.0.1

# Параметры posgres
PGSQL_PASSWORD=12345
PGSQL_DATABASE=uhostdb
PGSQL_USERNAME=admin
PGSQL_SCHEMA=main
PGSQL_DATABASE_SENTRY=sentrydb
PGSQL_DATABASE_LOGS=uhostlogs

# Параметры Sentry
SENTRY_SECRET=SecretSecretSecretSecretSecret
SENTRY_USER_EMAIL=em@ii.ll
SENTRY_USER_PASSWORD=12345

# настройки Redis
REDIS_DB_NUM=1

# Порт postgres
FORWARD_PGSQL_PORT=5432

# порт redis
FORWARD_REDIS_PORT=6379

# Порт API 
FORWARD_HTTP_PORT=5100

# Порт SMTP Mailhog
FORWARD_MAILHOG_PORT=8025

# Порт nginx
FORWARD_NGINX_PORT=8080

# Порт Adminer
FORWARD_ADMINER_PORT=8081

# Порт Redis commander
FORWARD_REDIS_CMDR_PORT=8082

# Порт интерфейса Mailhog
FORWARD_MAILHOG_DASHBOARD_PORT=8083

# Порт Sentry
FORWARD_SENTRY_PORT=8084

# Порт Graylog Web
FORWARD_GRAYLOG_PORT=8085

# Порт Prometheus
FORWARD_PROMETHEUS_PORT=8086

# Порт Grafana
FORWARD_GRAFANA_PORT=8087